* {
  margin: 0px;
  padding: 0px;
}
header {
  background-color: rgba(128, 0, 128, 0.639);
  height: 70px;
}
header div {
  padding-left: 20px;
  padding-top: 20px;
  font-size: 25px;
  font-weight: 500;
  color: white;
}

.hero-section {
  padding-top: 20px;
  text-align: center;
}
.hero-section img {
  border: 2px solid purple;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.hero-caption {
  height: 140px;
  text-align: center;
  padding-top: 20px;
  line-height: 20px;
}

main {
  height: 380px;

  padding-top: 20px;
}
#projectFirst {
  border: 2px solid purple;
  height: 100px;
  width: 90px;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
}
#projectSecond {
  border: 2px solid purple;
  height: 100px;
  width: 90px;
  padding: 20px;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
}
.anchor {
  line-height: 150px;
  margin-left: 25px;
}

footer {
  text-align: center;
}
div a img {
  height: 60px;
  margin-left: 12px;
}
